<div
  class="relative flex h-full w-full flex-col overflow-auto bg-[url(/images/rizal-monument.jpg)] bg-cover bg-center"
>
  <div class="z-10 p-2 text-start text-white">
    <p class="">Hi! I'm <b>Ahmed Rashad Jamion</b></p>
    <h1 class="font-bold text-nowrap">Welcome to my Rizal Portfolio!</h1>
    <p class="">
      In this portfolio we will explore<br />the life, works and writings<br />of
      Dr. Jose Rizal,<br />the National Hero of the Philippines
    </p>
  </div>
  <div class="absolute inset-0 bg-black opacity-50"></div>
</div>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, recusandae vero
  voluptates eligendi eum, fugiat optio quas sit ut vel adipisci minima possimus
  amet consequuntur quisquam. Quos deserunt dignissimos placeat reiciendis
  quibusdam rerum nihil eligendi illum beatae dolorum vero laboriosam
  necessitatibus qui commodi dolores nam similique debitis corrupti repellat
  minus hic, perspiciatis consectetur ratione. Id alias ducimus aut optio rerum
  distinctio suscipit! At quis est adipisci illo facilis! Consequatur eveniet
  libero aperiam, ad ex ratione perferendis. Explicabo excepturi aut fuga
  corrupti quibusdam accusamus modi eos voluptatum tenetur, eum amet laborum
  porro quod dolorem? Deleniti voluptatem aut provident maxime non quaerat
  eaque, quo laborum rerum optio quas suscipit dicta cum aperiam nisi ducimus
  eos placeat. Nam, adipisci quibusdam. Ducimus ipsum cum est totam quae
  expedita possimus dolorum fugiat aliquid accusantium ipsa natus, repellendus
  optio debitis quam autem, adipisci sequi modi quisquam minima. Tempora odit
  expedita enim voluptatibus. Ipsam dolorum recusandae quis sit aspernatur eaque
  dicta ea, id tenetur, a tempora facere excepturi nesciunt sequi blanditiis
  optio suscipit repellat nihil at autem! Expedita eaque distinctio amet alias
  atque dolorum quidem. Hic molestias ullam, repellendus animi facere natus
  quasi enim at dolore harum ducimus nostrum, voluptatibus quas fugit aperiam
  architecto eligendi veritatis aliquid nesciunt excepturi, distinctio ratione
  nisi tempora suscipit. Repellendus consectetur in dignissimos laudantium
  magnam, ipsum expedita illo esse. Facilis sapiente velit culpa aliquam
  deleniti obcaecati, expedita ab nisi, necessitatibus asperiores, eveniet
  soluta magni placeat exercitationem. Amet cupiditate at error ex facilis
  nostrum ratione atque deserunt perferendis rerum consequuntur illo suscipit
  totam quisquam pariatur alias, consectetur similique cumque laudantium facere
  asperiores? Voluptatibus nam, deleniti nostrum tempora unde cumque provident!
  Quia cum facilis dolor vero! Minus cumque officia sint quam soluta mollitia
  dolore expedita maxime corrupti magni minima quod, ullam odio ipsam magnam
  placeat laborum nostrum. Saepe, similique fugit fugiat blanditiis
  consequuntur, impedit, illum excepturi dicta commodi earum iure tenetur!
  Repellat enim beatae, laborum, fugiat delectus, aut veniam exercitationem
  impedit ipsam eveniet praesentium nisi qui alias nobis veritatis reprehenderit
  itaque? Fugit neque laboriosam repellendus odit libero officia voluptatem
  magnam doloribus quo corporis ipsam totam dolorum possimus necessitatibus nemo
  ipsum tempore et itaque sequi quibusdam, iste molestias, maxime quos! Possimus
  tempore commodi molestias corporis in accusamus voluptatum nisi at labore,
  earum, debitis provident eos quas harum totam eligendi! Corporis enim,
  molestiae totam beatae corrupti magni odio impedit dolorum nihil, facilis
  exercitationem libero officiis quam accusamus ducimus cupiditate provident
  quos cumque nemo quia, vitae laboriosam. Mollitia numquam cum doloribus ipsum,
  nemo beatae? Facilis eum vitae ut corrupti neque labore sunt porro delectus
  alias qui. Veritatis animi amet alias, eius a voluptate non! Enim, perferendis
  earum eos illo ullam maxime ipsam minima voluptate est tempora veritatis
  magnam delectus dolore vel omnis eaque deleniti sit. Beatae ipsam fugit
  eligendi, dignissimos sapiente quam, nam cumque corrupti ipsum praesentium
  sint distinctio nihil eum quibusdam expedita modi molestiae amet? Obcaecati
  nihil tenetur voluptatibus aut totam! Temporibus non similique dolorem iste
  velit accusantium consequatur rerum suscipit at quas. Nemo recusandae,
  quisquam consequatur, maiores labore et saepe molestias nesciunt itaque id
  iste reprehenderit numquam. Inventore optio rem alias hic. Dolor quasi nisi
  dolores? Aspernatur quibusdam fugit est accusantium beatae expedita ratione
  repellendus. Doloribus ut fugit, numquam necessitatibus error natus earum
  magni corporis culpa nemo ducimus. Ex hic, cumque rerum corporis laboriosam
  numquam odio labore! Soluta quibusdam fuga ab odio quis animi distinctio,
  consequuntur incidunt odit eum facilis eius! Expedita qui aperiam illo
  distinctio minima, eum sunt beatae labore quos, esse totam accusantium autem
  asperiores? Ducimus sed nisi laborum doloribus sit dicta? Minima dolore
  corrupti sit, perferendis omnis id laboriosam dolor quasi repellat.
  Aspernatur, amet sed reiciendis nisi quaerat velit illum odit saepe officia
  qui libero rem cumque delectus repellendus exercitationem culpa voluptatem
  molestias ad inventore cupiditate quidem debitis commodi. Corrupti natus
  labore maiores nemo, temporibus sapiente consequatur eaque atque modi ex
  voluptatem quod adipisci odio alias laborum ratione explicabo nesciunt ipsum
  in debitis doloremque! Tenetur suscipit atque, ab ut provident cum recusandae
  amet facere perspiciatis error voluptatibus voluptatum? Sapiente obcaecati
  ratione optio nulla, reiciendis, numquam sint fuga facilis repellendus dolor
  tenetur laborum, magni modi harum provident animi inventore voluptatem saepe
  vero dolores quod neque. Omnis nisi architecto amet aspernatur, deserunt
  incidunt! Ipsum, omnis! Quis modi nisi sapiente beatae doloremque cumque,
  dolore quasi ratione, deserunt minima veritatis fuga iste reiciendis soluta
  porro ipsa, unde error eligendi sint blanditiis aliquid. Porro molestias
  impedit aspernatur iure, placeat saepe facilis laboriosam vitae? Perferendis
  natus porro, deserunt explicabo dolorem illum nulla ex voluptatibus, mollitia,
  rem libero eaque voluptas temporibus perspiciatis eos consequatur. Pariatur
  laboriosam non est eos reprehenderit, vitae optio ea quidem, repellendus,
  autem neque error! Itaque, commodi? Ab, autem quis sed dolorum facilis ex
  ratione magni, quas, modi nostrum recusandae obcaecati ad voluptates! Ratione
  non explicabo et quidem aliquid tenetur, vero doloremque? Natus recusandae
  pariatur dolor quisquam quaerat quos quidem nostrum praesentium modi nemo
  cumque id, vero debitis, perferendis sapiente accusamus aut. Possimus error
  nisi ipsum provident ullam ducimus dolorem nemo ad doloribus, quas quisquam
  minus, reprehenderit reiciendis quis harum! Aut eveniet porro, illum similique
  autem tempore id? Natus ullam corporis iure modi earum, obcaecati odio ipsum
  minus? Asperiores quod, tenetur ab officia ut culpa. Eum praesentium odit
  accusamus delectus reiciendis fugit consequuntur sequi, veritatis perspiciatis
  soluta assumenda a at, deserunt nulla? Obcaecati ex beatae unde architecto
  doloremque dicta impedit! Molestias saepe optio expedita mollitia perferendis
  exercitationem incidunt ea porro autem dolor quae cupiditate, sed dolorem at
  debitis architecto dolores repellat nam qui. Minus officia quas cum labore
  quae, quis sit dicta illo quisquam sunt sed adipisci mollitia possimus libero
  tempore nemo distinctio totam quasi, corrupti facere laboriosam. Ea illum
  quaerat ex maiores ducimus doloremque ipsum repudiandae beatae perspiciatis.
  Quo labore architecto optio eius impedit assumenda minima esse minus,
  repellendus dolorum doloribus ullam asperiores harum dolore ad debitis quia
  fugit nostrum omnis. Corrupti nesciunt aspernatur numquam odio obcaecati
  tempore maiores eveniet eos sit ratione quis voluptatum nihil quod nemo enim
  natus aperiam, molestias quasi eaque sequi quidem minus expedita? Iusto, sunt?
  Quae commodi beatae similique assumenda eaque quas ipsam suscipit non
  provident repudiandae, incidunt vel voluptatum.
</p>
