<div
  class="grid h-auto grid-cols-1 place-items-center gap-4 p-4 md:h-full md:grid-cols-2"
>
  <div class="z-10 grid w-auto max-w-md grow basis-0 text-white">
    <h1 class="text-xl font-bold text-nowrap md:text-2xl">
      Life, Works and Writings of Rizal
    </h1>
    <h2 class="text-lg">Portfolio</h2>
    <p>By: Ahmed Rashad I. Jamion</p>
    <div
      class="mt-4 grid w-auto rounded-2xl bg-black/50 p-4 text-justify indent-8 text-sm"
    >
      <p>
        José Rizal was a remarkable Filipino whose life, works, and writings
        played a key role in shaping the nation's history. Through his powerful
        words and strong beliefs, he inspired change and left a lasting impact
        on Filipino society. This portfolio offers a glimpse into his legacy and
        the ideas that continue to influence people today.
      </p>
      <p>
        One way Rizal's legacy is preserved is through Republic Act No. 1425,
        commonly known as the Rizal Law. Enacted in 1956, this law mandates the
        teaching of Rizal's life, works, and writings—especially Noli Me Tangere
        and El Filibusterismo—in all schools across the Philippines. It aims to
        instill a sense of nationalism, critical thinking, and appreciation for
        the sacrifices made for the country’s freedom. Through this law,
        generations of students continue to learn from Rizal’s ideals and carry
        forward his vision for a better nation.
      </p>
    </div>
    <a
      href="https://www.officialgazette.gov.ph/1956/06/12/republic-act-no-1425/"
      class="place-self-center font-bold text-white/90 hover:text-white"
      target="_blank"
      >Learn more about the Rizal Law</a
    >
  </div>
  <div
    class="z-1 flex w-full max-w-md flex-col gap-4 font-bold text-black md:w-auto"
  >
    <h2
      class="text-center text-2xl font-bold tracking-wide text-white uppercase"
    >
      Explore
    </h2>
    <app-page-card
      image="images/rizal-portrait.jpg"
      alt="Portrait of Rizal"
      title="About Rizal"
      link="/about-rizal"
    />
    <app-page-card
      image="images/about-me.jpg"
      alt="Photo of me"
      title="About Me"
      link="/about-me"
    />
    <app-page-card
      image="images/classwork.jpg"
      alt="Classwork"
      title="My Classworks"
      link="/my-classworks"
    />
  </div>
</div>
