<nav class="">
  <ul
    class="flex items-end gap-4 overflow-hidden p-2 text-lg text-nowrap lg:text-xl"
    [ngClass]="isMobile ? 'flex-col' : 'flex-row'"
  >
    <li>
      <a
        routerLink="home"
        routerLinkActive
        #home="routerLinkActive"
        class="group relative"
      >
        Home
        <div
          class="absolute h-1 bg-black transition-all duration-300 ease-in-out group-hover:w-full"
          [ngClass]="home.isActive ? 'w-full' : 'w-0'"
        ></div>
      </a>
    </li>
    <li>
      <a
        routerLink="about-rizal"
        routerLinkActive
        #aboutrizal="routerLinkActive"
        class="group relative"
      >
        About Rizal
        <div
          class="absolute h-1 bg-black transition-all duration-300 ease-in-out group-hover:w-full"
          [ngClass]="aboutrizal.isActive ? 'w-full' : 'w-0'"
        ></div>
      </a>
    </li>
    <li>
      <a
        routerLink="about-me"
        routerLinkActive
        #aboutme="routerLinkActive"
        class="group relative"
      >
        About Me
        <div
          class="absolute h-1 bg-black transition-all duration-300 ease-in-out group-hover:w-full"
          [ngClass]="aboutme.isActive ? 'w-full' : 'w-0'"
        ></div>
      </a>
    </li>
    <li>
      <a
        routerLink="my-classworks"
        routerLinkActive
        #myclassworks="routerLinkActive"
        class="group relative"
        >My Classworks
        <div
          class="absolute h-1 bg-black transition-all duration-300 ease-in-out group-hover:w-full"
          [ngClass]="myclassworks.isActive ? 'w-full' : 'w-0'"
        ></div
      ></a>
    </li>
  </ul>
</nav>
