<div class="grid gap-4 p-4">
  <h3 class="text-center text-3xl font-bold text-white">About Me</h3>
  <div class="grid h-auto grid-cols-1 place-items-center gap-4">
    <app-about-card
      image="images/about-me.jpg"
      content="Hi, my name is Ahmed Rashad I. Jamion, a third-year Bachelor of Science in Information Technology student from Section 3A at the College of Information and Computing Sciences, Zamboanga Peninsula Polytechnic State University. I am currently enrolled in the course Life, Works, and Writings of Rizal, and this online portfolio was created as a requirement for the subject. It showcases my insights and learnings throughout the course."
    />
    <div class="flex gap-4">
      <a
        class="rounded-full bg-white/90 px-4 py-2 text-center hover:bg-white"
        routerLink="/home"
      >
        Home
      </a>

      <a
        class="rounded-full bg-white/90 px-4 py-2 text-center hover:bg-white"
        routerLink="/about-rizal"
      >
        About Rizal
      </a>

      <a
        class="rounded-full bg-white/90 px-4 py-2 text-center hover:bg-white"
        routerLink="/my-classworks"
      >
        My Classworks
      </a>
    </div>
  </div>
</div>
