<div
  class="grid h-auto w-full grid-cols-1 place-items-center gap-4 p-4 md:h-full md:grid-cols-2"
>
  <img
    src="images/about-me.jpg"
    alt="Portrait of Rizal"
    class="aspect-square w-1/2 object-cover object-top"
  />
  <p
    class="max-w-md grow basis-0 rounded-2xl p-4 text-justify indent-8 text-white backdrop-brightness-50"
  >
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
    laboriosam necessitatibus natus doloribus quam iusto quasi sunt obcaecati
    maiores consequuntur nesciunt magni saepe, repudiandae unde facere
    distinctio sequi! Vitae expedita laborum rerum, ab quibusdam velit,
    excepturi quod voluptas laudantium assumenda ipsam, et temporibus in odio
    dicta recusandae perspiciatis tenetur blanditiis! Cumque aspernatur ut
    repudiandae enim molestiae ipsum, minima pariatur, voluptates qui, provident
    excepturi officiis officia quidem tenetur rem asperiores in quae iste
    distinctio nihil. At debitis numquam autem velit error sunt dicta
    consequatur earum vitae nam quidem omnis pariatur asperiores molestiae
    impedit illum necessitatibus unde culpa, quas corrupti odio? Deserunt.
  </p>
</div>
